.jumbotron {
  padding-top: 129px;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
  padding-top: 130px;
}

#about {
  padding-top: 150px;
}
#contact {
  padding-top: 100px;
}
